html {
	display: flex;
	justify-content: center;
}
body {
	width: 800px;
	font-family: Poppins;
	color: #525252;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

@media only screen and (max-width: 820px) {
	body {
		max-width: 600px;
	}
}

@media only screen and (max-width: 620px) {
	body {
		max-width: 400px;
	}
}

@media only screen and (max-width: 420px) {
	body {
		max-width: 100%;
	}
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
	flex-wrap: wrap;
}

h1 {
	margin: 0px;
}

span {
	color: #525252;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

a {
	text-decoration: none;
}

main {
	margin-top: 48px;
	width: 100%;
}

p {
	margin: 0;
}

.button {
	display: flex;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 8px;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 24px;
	font-size: 16px;
}

@media only screen and (max-width: 420px) {
	.buttons {
		font-size: 0px;
		gap: 4px;
	}

	.button {
		gap: 0px;
	}	
}

.smallButton {
	position: relative;
	display: inline-flex;
	padding: 4px 8px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 6px;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.defaultButton {
	background: #EBEBEB;
	color: #525252;
}

.accentButton {
	background: #B2FFD8;
	color: #25B26B;
}

.genres {
	margin-top: 48px;
	margin-bottom: 24px;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.genre {
	cursor: pointer;
	user-select: none;
}


.movies {
	width: 100%;
	gap: 16px;
}

@media only screen and (max-width: 420px) {
	.movies {
		grid-template-columns: 185px;
		justify-content: center;
	}
	.genres {
		justify-content: center;
	}
}

.movie {
	margin-bottom: 24px;
}

.image {
	width: auto;
	height: 275px;  /* height is width * 1.46 */
	background: url(images/f.jpeg);
	background-size: 100% 100%;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	margin-bottom: 16px;

}

.name {
	color: #070707;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
